<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Hey, <%=userName %>
            </h1>
        </div>
        <div class="col text-end">
            <a href="/homescreen/add" class="btn btn-primary">+ New entry </a>


        </div>
    </div>


    <div class="row">

        <% if(journals.length> 0 ){ for(var i=0; i < journals.length; i++){ %>

                <div class="col-sm3 mb-4">

                    <div class="card border-primary" style="min-height: 210px">
                        <a href="/homescreen/item/<%= journals[i]._id %>" class="card-body text-decoration-none ">
                            <h5 class="card-title">
                                <%= journals[i].title %>
                            </h5>
                            <p class="card-text">
    <%= journals[i].body.length > 100 ? journals[i].body.substring(0, 100) + '...' : journals[i].body %>
</p>


                            <p class="text-muted small">
                               <%= journals[i].date ? new Date(journals[i].date).toLocaleDateString() : 'No Date' %>
                            </p>
                            


                        </a>

                    </div>


                </div>

                <% }} else { %>
                    <div class="row">
                        <div class="col-5">
                            <img src="/img/7D48E82C-16D5-4DB3-9161-2349923AE84F.PNG" alt="human">
                        </div>
                        <div class="col mt-md-4">
                            <h2>We are here for you -`♡´-</h2>
                            <h4>Let's share our memory together <br /><br />
                              
                            </h4>
                        </div>
                    </div>





                    <% } %>

    </div>



      <% if (journals.length >0 ) { %>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-5">

                <% if(current == 1){%>
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/homescreen">First</a></li>
                    <% } %>

                    <% var i = (Number(current)>5 ? Number(current)-4: 1)%> 
                    <% if (i !== 1){ %>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>

                    <% } %> 

                    <% for (; i<= (Number(current)+4) && i<=pages; i++ ){ %>
                        <% if(i== current) { %>
                            <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>


                        <%}  else { %>
                        <li class="page-item"><a class="page-link" href="/homescreen/?page=<%= i %>"><%= i %></a></li>
                        <% } %> 

                        <% if (i== Number(current) +4 && i< pages) { %> 
                            <li class="page-item"><a class="page-link" href="#">...</a></li>


                            <% } %> 


                   <% } %>

                   <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>

                    <% } else { %> 

                        <li class="page-item "><a class="page-link" href="/homescreen/?page=<%= pages %>">Next</a></li>
                        <% } %>





            </ul>




        </nav>
        

        <% } %>







</div>
